$primary-color: #333;
$secondary-color: #03dac6;
$background-color: rgb(255, 255, 255);
$text-color: #272424;
$sidenav-bg-color: rgb(33, 53, 90);
$card-bg-color: #ffffff;
$hover-bg-color: #272424;
$hover-bg-secondary-color: #03dac6;
