<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome to Note manager</mat-card-title>
    <mat-card-subtitle>Please {{ this.isMasterPasswordSet ? "init sesion" : "create account" }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || !this.isMasterPasswordSet" class="login-button">
          Login
        </button>
      </mat-card-actions>
    </form>

    <div *ngIf="!isMasterPasswordSet; else Modify" class="signup-link">
      <a (click)="onSetMasterPassword()">Create account</a>
    </div>

    <ng-template #Modify>
      <div class="signup-link">
        <a (click)="onChangeMasterPassword()">Modify account</a>
      </div>
    </ng-template>

    <p *ngIf="loginModel.errorMessage.length > 0" class="error-message">
      {{ loginModel.errorMessage }}
    </p>
  </mat-card-content>
</mat-card>
